@use '../../styles/variables.scss' as vars;

.services {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    180deg,
    vars.$clr-primary,
    vars.$clr-secondary
  );

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__container {
    flex: 1;
    align-self: flex-end;

    display: flex;
    align-items: center;
    gap: 2rem;

    &--text {
      font-weight: 200;
      font-size: 2rem;
      color: gray;
      text-align: right;
    }

    hr {
      width: 50rem;
      border: none;
      border-top: 0.5px solid gray;
    }
  }

  &__wrapper {
    flex: 2;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    display: flex;
    align-items: center;
    gap: 5rem;

    &--img {
      width: 30rem;
      height: 10rem;
      border-radius: 5rem;
      object-fit: cover;
    }

    &--heading {
      font-weight: 100;
      font-size: 9.6rem;
    }

    &--btn {
      border: none;
      text-transform: uppercase;
      font-size: 2.4rem;
      width: 30rem;
      height: 10rem;
      background-color: orange;
      border-radius: 5rem;
      cursor: pointer;

      &:focus-within {
        outline: 2px solid orange;
        outline-offset: 3px;
      }

      &:disabled {
        opacity: 0.75;
        pointer-events: none;
        user-select: none;
      }
    }
  }

  &__list {
    flex: 2;
    display: flex;

    max-width: 136.6rem;
    margin: auto;
    list-style: none;
  }

  &__item {
    width: 100%;
  }

  &__box {
    padding: 5rem;
    border: 0.5px solid gray;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;

    &--title {
      text-transform: capitalize;
    }

    &--desc {
      font-size: inherit;
    }

    &--btn {
      border: none;
      padding: 1rem;
      background-color: orange;
      border-radius: 2px;
      cursor: pointer;

      &:disabled {
        opacity: 0.75;
        pointer-events: none;
        user-select: none;
      }

      &:focus-within {
        outline: 2px solid orange;
      }
    }
  }
}
