@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.portfolio {
  position: relative;

  &__wrapper {
    position: sticky;
    top: 0;
    left: 0;

    text-align: center;
    font-size: 3.6rem;
    padding-top: 5rem;
    color: orange;

    @include bp.mobile {
      font-size: 2.4rem;
      padding-top: calc(100vh - 10rem);
    }
  }

  &__heading {
    text-transform: capitalize;
    font-size: inherit;
    color: currentColor;
  }

  &__progress-bar {
    height: 1rem;
    background-color: vars.$clr-white;
  }
}
