@use '../../styles/variables.scss' as vars;

.portfolio {
  position: relative;

  &__wrapper {
    position: sticky;
    top: 0;
    left: 0;

    padding-top: 5rem;
    text-align: center;
    font-size: 3.6rem;
    color: orange;
  }

  &__heading {
    text-transform: capitalize;
    font-size: inherit;
    color: currentColor;
  }

  &__progress-bar {
    height: 1rem;
    background-color: vars.$clr-white;
  }
}
