.toggle-button {
  position: fixed;
  top: 2.5rem;
  left: 2.5rem;

  border: none;
  width: 5rem;
  height: 5rem;
  background-color: transparent;
  color: inherit;
  border-radius: 100%;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}
