@use '../../../styles/responsive.scss' as bp;

.links {
  position: absolute;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  a {
    &:link,
    &:visited {
      font-size: 4rem;

      @include bp.mobile {
        font-size: 2rem;
      }
    }
  }
}
