@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.contact {
  width: 136.6rem;
  height: 100%;
  margin: auto;

  display: flex;
  align-items: center;
  gap: 5rem;

  @include bp.mobile {
    width: 100%;
    padding: 1rem;
    flex-direction: column;
  }

  &__container {
    flex: 1;

    display: flex;
    flex-direction: column;
    gap: 4rem;

    @include bp.mobile {
      gap: 2rem;
      text-align: center;
      align-items: center;
      margin-top: 7rem;
    }

    &--heading {
      font-size: 10rem;
      line-height: 8.8rem;

      @include bp.mobile {
        font-size: 3.6rem;
      }
    }
  }

  &__info {
    display: flex;
    flex-direction: column;

    &--title {
      text-transform: capitalize;
      text-rendering: optimizeLegibility;
    }

    &--value {
      font-weight: 300;
    }
  }

  &__wrapper {
    flex: 1;
    position: relative;

    @include bp.mobile {
      width: 100%;
      padding: 5rem;
    }
  }

  &__phone-svg {
    position: absolute;
    margin: auto;
    stroke: orange;
    z-index: -1;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    &--input,
    &--textarea {
      padding: 2rem;
      background-color: transparent;
      color: vars.$clr-white;
      border: 1px solid currentColor;
      border-radius: 0.5rem;

      @include bp.mobile {
        padding: 1rem;
      }

      &::placeholder {
        color: vars.$clr-default;
      }

      &:disabled {
        opacity: 0.75;
        pointer-events: none;
        user-select: none;
      }
    }

    &--textarea {
      resize: none;
    }

    &--btn {
      border: none;
      font-weight: 500;
      padding: 2rem;
      background-color: orange;
      border-radius: 0.5rem;
      cursor: pointer;

      @include bp.mobile {
        padding: 1rem;
      }

      &:focus-within {
        outline: 1px solid orange;
      }

      &:disabled {
        opacity: 0.75;
        pointer-events: none;
        user-select: none;
      }
    }
  }
}
