@use './styles/variables.scss' as vars;

:root {
  --default-font-size: 1.6rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-snap-type: y mandatory;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'DM Sans', sans-serif;
  font-size: var(--default-font-size);
  background-color: vars.$clr-primary;
  color: vars.$clr-default;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input,
textarea,
select {
  font-family: inherit;
}

.app {
  section {
    height: 100vh;
    scroll-snap-align: center;
  }
}
