@use '../../styles/responsive.scss' as bp;
@use '../../styles/variables.scss' as vars;

.cursor {
  width: 5rem;
  height: 5rem;
  border: 1px solid vars.$clr-white;
  border-radius: 100%;
  position: fixed;

  @include bp.mobile {
    display: none;
  }
}
